# Основні пакети Django
Django==5.1.1

# Реальний час (WebSocket)
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2

# Сервер WSGI (не обов’язковий, але корисний для звичайних HTTP-запитів)
gunicorn==22.0.0

# Для обслуговування статичних файлів (CSS, JS, зображення)
whitenoise==6.7.0

# Робота з середовищем (ENV змінні)
python-dotenv==1.0.1



# Інше (опційно, для безпеки та зручності)
asgiref==3.8.1
redis==5.0.8
